:root {
  --background: oklch(0.97 0.01 286.24);
  --foreground: oklch(0.30 0.06 282.42);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.30 0.06 282.42);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.30 0.06 282.42);
  --primary: oklch(0.54 0.18 288.04);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.04 292.72);
  --secondary-foreground: oklch(0.41 0.10 288.18);
  --muted: oklch(0.96 0.01 286.23);
  --muted-foreground: oklch(0.54 0.05 284.76);
  --accent: oklch(0.92 0.04 262.15);
  --accent-foreground: oklch(0.30 0.06 282.42);
  --destructive: oklch(0.69 0.21 15.00);
  --border: oklch(0.91 0.02 286.02);
  --input: oklch(0.91 0.02 286.02);
  --ring: oklch(0.54 0.18 288.04);
  --chart-1: oklch(0.54 0.18 288.04);
  --chart-2: oklch(0.70 0.16 289.00);
  --chart-3: oklch(0.57 0.21 276.71);
  --chart-4: oklch(0.64 0.19 281.81);
  --chart-5: oklch(0.45 0.18 279.39);
  --sidebar: oklch(0.96 0.01 286.23);
  --sidebar-foreground: oklch(0.30 0.06 282.42);
  --sidebar-primary: oklch(0.54 0.18 288.04);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.92 0.04 262.15);
  --sidebar-accent-foreground: oklch(0.30 0.06 282.42);
  --sidebar-border: oklch(0.91 0.02 286.02);
  --sidebar-ring: oklch(0.54 0.18 288.04);

  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.17 0.02 283.81);
  --foreground: oklch(0.92 0.03 285.93);
  --card: oklch(0.23 0.04 282.94);
  --card-foreground: oklch(0.92 0.03 285.93);
  --popover: oklch(0.23 0.04 282.94);
  --popover-foreground: oklch(0.92 0.03 285.93);
  --primary: oklch(0.72 0.16 290.41);
  --primary-foreground: oklch(0.17 0.02 283.81);
  --secondary: oklch(0.31 0.07 283.47);
  --secondary-foreground: oklch(0.84 0.08 285.92);
  --muted: oklch(0.27 0.06 281.44);
  --muted-foreground: oklch(0.72 0.05 285.19);
  --accent: oklch(0.34 0.08 280.98);
  --accent-foreground: oklch(0.92 0.03 285.93);
  --destructive: oklch(0.69 0.21 15.00);
  --border: oklch(0.33 0.06 282.59);
  --input: oklch(0.33 0.06 282.59);
  --ring: oklch(0.72 0.16 290.41);
  --chart-1: oklch(0.72 0.16 290.41);
  --chart-2: oklch(0.64 0.10 274.92);
  --chart-3: oklch(0.75 0.12 244.74);
  --chart-4: oklch(0.71 0.10 186.66);
  --chart-5: oklch(0.75 0.18 346.83);
  --sidebar: oklch(0.23 0.04 282.94);
  --sidebar-foreground: oklch(0.92 0.03 285.93);
  --sidebar-primary: oklch(0.72 0.16 290.41);
  --sidebar-primary-foreground: oklch(0.17 0.02 283.81);
  --sidebar-accent: oklch(0.34 0.08 280.98);
  --sidebar-accent-foreground: oklch(0.92 0.03 285.93);
  --sidebar-border: oklch(0.33 0.06 282.59);
  --sidebar-ring: oklch(0.72 0.16 290.41);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}