:root {
  --background: oklch(0.88 0.05 91.77);
  --foreground: oklch(0.43 0.03 59.22);
  --card: oklch(0.89 0.04 87.55);
  --card-foreground: oklch(0.43 0.03 59.22);
  --popover: oklch(0.94 0.03 89.83);
  --popover-foreground: oklch(0.43 0.03 59.22);
  --primary: oklch(0.67 0.11 118.90);
  --primary-foreground: oklch(0.99 0.01 88.55);
  --secondary: oklch(0.85 0.06 91.14);
  --secondary-foreground: oklch(0.43 0.03 59.22);
  --muted: oklch(0.85 0.06 91.14);
  --muted-foreground: oklch(0.58 0.03 60.94);
  --accent: oklch(0.84 0.07 90.32);
  --accent-foreground: oklch(0.43 0.03 59.22);
  --destructive: oklch(0.71 0.10 29.99);
  --border: oklch(0.69 0.04 59.85);
  --input: oklch(0.84 0.07 90.32);
  --ring: oklch(0.73 0.06 130.83);
  --chart-1: oklch(0.73 0.06 130.83);
  --chart-2: oklch(0.68 0.06 132.43);
  --chart-3: oklch(0.82 0.03 136.61);
  --chart-4: oklch(0.59 0.05 137.60);
  --chart-5: oklch(0.52 0.04 137.17);
  --sidebar: oklch(0.86 0.06 90.50);
  --sidebar-foreground: oklch(0.43 0.03 59.22);
  --sidebar-primary: oklch(0.73 0.06 130.83);
  --sidebar-primary-foreground: oklch(0.99 0.01 88.55);
  --sidebar-accent: oklch(0.92 0.02 87.97);
  --sidebar-accent-foreground: oklch(0.43 0.03 59.22);
  --sidebar-border: oklch(0.91 0.02 87.97);
  --sidebar-ring: oklch(0.73 0.06 130.83);

  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 0.425rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.33 0.02 88.06);
  --foreground: oklch(0.92 0.02 82.10);
  --card: oklch(0.36 0.02 82.31);
  --card-foreground: oklch(0.92 0.02 82.10);
  --popover: oklch(0.36 0.02 82.31);
  --popover-foreground: oklch(0.92 0.02 82.10);
  --primary: oklch(0.68 0.06 132.43);
  --primary-foreground: oklch(0.27 0.01 61.03);
  --secondary: oklch(0.44 0.02 84.54);
  --secondary-foreground: oklch(0.92 0.02 82.10);
  --muted: oklch(0.39 0.02 82.70);
  --muted-foreground: oklch(0.71 0.02 73.61);
  --accent: oklch(0.65 0.07 90.75);
  --accent-foreground: oklch(0.27 0.01 61.03);
  --destructive: oklch(0.63 0.08 31.30);
  --border: oklch(0.44 0.02 84.54);
  --input: oklch(0.44 0.02 84.54);
  --ring: oklch(0.68 0.06 132.43);
  --chart-1: oklch(0.68 0.06 132.43);
  --chart-2: oklch(0.73 0.06 130.83);
  --chart-3: oklch(0.59 0.05 137.60);
  --chart-4: oklch(0.65 0.07 90.75);
  --chart-5: oklch(0.52 0.04 137.17);
  --sidebar: oklch(0.33 0.02 88.06);
  --sidebar-foreground: oklch(0.92 0.02 82.10);
  --sidebar-primary: oklch(0.68 0.06 132.43);
  --sidebar-primary-foreground: oklch(0.27 0.01 61.03);
  --sidebar-accent: oklch(0.65 0.07 90.75);
  --sidebar-accent-foreground: oklch(0.27 0.01 61.03);
  --sidebar-border: oklch(0.44 0.02 84.54);
  --sidebar-ring: oklch(0.68 0.06 132.43);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}