:root {
  --background: oklch(0.95 0.01 102.39);
  --foreground: oklch(0.41 0.03 40.38);
  --card: oklch(0.95 0.01 102.39);
  --card-foreground: oklch(0.41 0.03 40.38);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.41 0.03 40.38);
  --primary: oklch(0.61 0.06 44.36);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.75 0.04 80.54);
  --secondary-foreground: oklch(1.00 0 0);
  --muted: oklch(0.85 0.04 49.10);
  --muted-foreground: oklch(0.54 0.05 37.22);
  --accent: oklch(0.85 0.04 49.10);
  --accent-foreground: oklch(0.41 0.03 40.38);
  --destructive: oklch(0.22 0.01 52.97);
  --border: oklch(0.75 0.04 80.54);
  --input: oklch(0.75 0.04 80.54);
  --ring: oklch(0.61 0.06 44.36);
  --chart-1: oklch(0.61 0.06 44.36);
  --chart-2: oklch(0.54 0.05 37.22);
  --chart-3: oklch(0.73 0.05 52.34);
  --chart-4: oklch(0.75 0.04 80.54);
  --chart-5: oklch(0.64 0.04 52.40);
  --sidebar: oklch(0.89 0.03 49.59);
  --sidebar-foreground: oklch(0.41 0.03 40.38);
  --sidebar-primary: oklch(0.61 0.06 44.36);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.73 0.05 52.34);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.64 0.04 52.40);
  --sidebar-ring: oklch(0.61 0.06 44.36);

  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.27 0.01 48.19);
  --foreground: oklch(0.95 0.01 102.39);
  --card: oklch(0.33 0.02 50.91);
  --card-foreground: oklch(0.95 0.01 102.39);
  --popover: oklch(0.33 0.02 50.91);
  --popover-foreground: oklch(0.95 0.01 102.39);
  --primary: oklch(0.73 0.05 52.34);
  --primary-foreground: oklch(0.27 0.01 48.19);
  --secondary: oklch(0.54 0.05 37.22);
  --secondary-foreground: oklch(0.95 0.01 102.39);
  --muted: oklch(0.41 0.03 40.38);
  --muted-foreground: oklch(0.76 0.04 50.87);
  --accent: oklch(0.75 0.04 80.54);
  --accent-foreground: oklch(0.27 0.01 48.19);
  --destructive: oklch(0.69 0.14 21.46);
  --border: oklch(0.41 0.03 40.38);
  --input: oklch(0.41 0.03 40.38);
  --ring: oklch(0.73 0.05 52.34);
  --chart-1: oklch(0.73 0.05 52.34);
  --chart-2: oklch(0.75 0.04 80.54);
  --chart-3: oklch(0.61 0.06 44.36);
  --chart-4: oklch(0.54 0.05 37.22);
  --chart-5: oklch(0.64 0.04 52.40);
  --sidebar: oklch(0.22 0.01 52.97);
  --sidebar-foreground: oklch(0.95 0.01 102.39);
  --sidebar-primary: oklch(0.73 0.05 52.34);
  --sidebar-primary-foreground: oklch(0.22 0.01 52.97);
  --sidebar-accent: oklch(0.75 0.04 80.54);
  --sidebar-accent-foreground: oklch(0.22 0.01 52.97);
  --sidebar-border: oklch(0.41 0.03 40.38);
  --sidebar-ring: oklch(0.73 0.05 52.34);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}