:root {
  --background: oklch(0.95 0.01 196.81);
  --foreground: oklch(0.38 0.06 212.65);
  --card: oklch(0.97 0.01 196.73);
  --card-foreground: oklch(0.38 0.06 212.65);
  --popover: oklch(0.97 0.01 196.73);
  --popover-foreground: oklch(0.38 0.06 212.65);
  --primary: oklch(0.56 0.09 203.26);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.02 196.75);
  --secondary-foreground: oklch(0.38 0.06 212.65);
  --muted: oklch(0.93 0.01 196.81);
  --muted-foreground: oklch(0.54 0.06 201.55);
  --accent: oklch(0.90 0.03 201.84);
  --accent-foreground: oklch(0.38 0.06 212.65);
  --destructive: oklch(0.57 0.19 25.54);
  --border: oklch(0.89 0.02 204.34);
  --input: oklch(0.92 0.02 196.75);
  --ring: oklch(0.56 0.09 203.26);
  --chart-1: oklch(0.56 0.09 203.26);
  --chart-2: oklch(0.64 0.10 201.58);
  --chart-3: oklch(0.71 0.11 201.23);
  --chart-4: oklch(0.77 0.10 201.17);
  --chart-5: oklch(0.83 0.08 200.95);
  --sidebar: oklch(0.93 0.02 205.23);
  --sidebar-foreground: oklch(0.38 0.06 212.65);
  --sidebar-primary: oklch(0.56 0.09 203.26);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.90 0.03 201.84);
  --sidebar-accent-foreground: oklch(0.38 0.06 212.65);
  --sidebar-border: oklch(0.89 0.02 204.34);
  --sidebar-ring: oklch(0.56 0.09 203.26);

  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;

  --radius: 0.125rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.21 0.02 224.44);
  --foreground: oklch(0.85 0.13 195.02);
  --card: oklch(0.23 0.03 216.05);
  --card-foreground: oklch(0.85 0.13 195.02);
  --popover: oklch(0.23 0.03 216.05);
  --popover-foreground: oklch(0.85 0.13 195.02);
  --primary: oklch(0.85 0.13 195.02);
  --primary-foreground: oklch(0.21 0.02 224.44);
  --secondary: oklch(0.38 0.06 216.49);
  --secondary-foreground: oklch(0.85 0.13 195.02);
  --muted: oklch(0.29 0.04 218.80);
  --muted-foreground: oklch(0.66 0.10 195.04);
  --accent: oklch(0.38 0.06 216.49);
  --accent-foreground: oklch(0.85 0.13 195.02);
  --destructive: oklch(0.62 0.21 25.81);
  --border: oklch(0.38 0.06 216.49);
  --input: oklch(0.38 0.06 216.49);
  --ring: oklch(0.85 0.13 195.02);
  --chart-1: oklch(0.85 0.13 195.02);
  --chart-2: oklch(0.66 0.10 195.04);
  --chart-3: oklch(0.58 0.08 195.05);
  --chart-4: oklch(0.43 0.06 202.61);
  --chart-5: oklch(0.31 0.05 204.14);
  --sidebar: oklch(0.21 0.02 224.44);
  --sidebar-foreground: oklch(0.85 0.13 195.02);
  --sidebar-primary: oklch(0.85 0.13 195.02);
  --sidebar-primary-foreground: oklch(0.21 0.02 224.44);
  --sidebar-accent: oklch(0.38 0.06 216.49);
  --sidebar-accent-foreground: oklch(0.85 0.13 195.02);
  --sidebar-border: oklch(0.38 0.06 216.49);
  --sidebar-ring: oklch(0.85 0.13 195.02);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}