:root {
  --background: oklch(0.97 0.02 344.05);
  --foreground: oklch(0.44 0.17 352.39);
  --card: oklch(0.98 0.01 339.54);
  --card-foreground: oklch(0.44 0.17 352.39);
  --popover: oklch(0.98 0.01 339.54);
  --popover-foreground: oklch(0.44 0.17 352.39);
  --primary: oklch(0.60 0.24 0.14);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.07 326.16);
  --secondary-foreground: oklch(0.44 0.17 352.39);
  --muted: oklch(0.94 0.04 344.32);
  --muted-foreground: oklch(0.57 0.17 352.07);
  --accent: oklch(0.88 0.08 344.91);
  --accent-foreground: oklch(0.44 0.17 352.39);
  --destructive: oklch(0.58 0.19 6.35);
  --border: oklch(0.89 0.07 344.42);
  --input: oklch(0.92 0.07 326.16);
  --ring: oklch(0.60 0.24 0.14);
  --chart-1: oklch(0.60 0.24 0.14);
  --chart-2: oklch(0.60 0.17 345.05);
  --chart-3: oklch(0.60 0.12 311.81);
  --chart-4: oklch(0.58 0.12 283.30);
  --chart-5: oklch(0.65 0.19 267.97);
  --sidebar: oklch(0.96 0.02 345.85);
  --sidebar-foreground: oklch(0.44 0.17 352.39);
  --sidebar-primary: oklch(0.60 0.24 0.14);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.88 0.08 344.91);
  --sidebar-accent-foreground: oklch(0.44 0.17 352.39);
  --sidebar-border: oklch(0.93 0.04 343.36);
  --sidebar-ring: oklch(0.60 0.24 0.14);

  --font-sans: Poppins, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.18 0.05 313.73);
  --foreground: oklch(0.86 0.13 326.66);
  --card: oklch(0.24 0.07 313.25);
  --card-foreground: oklch(0.86 0.13 326.66);
  --popover: oklch(0.24 0.07 313.25);
  --popover-foreground: oklch(0.86 0.13 326.66);
  --primary: oklch(0.75 0.23 332.03);
  --primary-foreground: oklch(0.16 0.05 327.58);
  --secondary: oklch(0.32 0.09 319.66);
  --secondary-foreground: oklch(0.86 0.13 326.66);
  --muted: oklch(0.27 0.08 312.36);
  --muted-foreground: oklch(0.71 0.16 327.13);
  --accent: oklch(0.36 0.12 325.78);
  --accent-foreground: oklch(0.86 0.13 326.66);
  --destructive: oklch(0.65 0.24 7.18);
  --border: oklch(0.33 0.12 313.55);
  --input: oklch(0.32 0.09 319.66);
  --ring: oklch(0.75 0.23 332.03);
  --chart-1: oklch(0.75 0.23 332.03);
  --chart-2: oklch(0.65 0.22 317.64);
  --chart-3: oklch(0.62 0.22 292.77);
  --chart-4: oklch(0.61 0.16 278.72);
  --chart-5: oklch(0.62 0.20 268.05);
  --sidebar: oklch(0.19 0.05 311.41);
  --sidebar-foreground: oklch(0.86 0.13 326.66);
  --sidebar-primary: oklch(0.75 0.23 332.03);
  --sidebar-primary-foreground: oklch(0.16 0.05 327.58);
  --sidebar-accent: oklch(0.36 0.12 325.78);
  --sidebar-accent-foreground: oklch(0.86 0.13 326.66);
  --sidebar-border: oklch(0.33 0.12 313.55);
  --sidebar-ring: oklch(0.75 0.23 332.03);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}