:root {
  --background: oklch(0.99 0.01 84.48);
  --foreground: oklch(0.37 0.03 49.62);
  --card: oklch(0.97 0.01 78.25);
  --card-foreground: oklch(0.37 0.03 49.62);
  --popover: oklch(0.97 0.01 78.25);
  --popover-foreground: oklch(0.37 0.03 49.62);
  --primary: oklch(0.56 0.15 48.99);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.83 0.08 74.43);
  --secondary-foreground: oklch(0.44 0.01 73.63);
  --muted: oklch(0.94 0.02 83.24);
  --muted-foreground: oklch(0.55 0.01 58.09);
  --accent: oklch(0.90 0.05 74.98);
  --accent-foreground: oklch(0.44 0.01 73.63);
  --destructive: oklch(0.44 0.16 26.90);
  --border: oklch(0.89 0.04 89.68);
  --input: oklch(0.89 0.04 89.68);
  --ring: oklch(0.56 0.15 48.99);
  --chart-1: oklch(0.56 0.15 48.99);
  --chart-2: oklch(0.55 0.01 58.09);
  --chart-3: oklch(0.55 0.12 66.44);
  --chart-4: oklch(0.55 0.01 58.09);
  --chart-5: oklch(0.68 0.14 75.83);
  --sidebar: oklch(0.94 0.02 83.24);
  --sidebar-foreground: oklch(0.37 0.03 49.62);
  --sidebar-primary: oklch(0.56 0.15 48.99);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.55 0.12 66.44);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.89 0.04 89.68);
  --sidebar-ring: oklch(0.56 0.15 48.99);

  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;

  --radius: 0.3rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.22 0.01 56.06);
  --foreground: oklch(0.97 0 0);
  --card: oklch(0.27 0.01 34.35);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(0.27 0.01 34.35);
  --popover-foreground: oklch(0.97 0 0);
  --primary: oklch(0.70 0.19 47.60);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.44 0.01 73.63);
  --secondary-foreground: oklch(0.92 0.00 49.03);
  --muted: oklch(0.27 0.01 34.35);
  --muted-foreground: oklch(0.72 0.01 56.30);
  --accent: oklch(0.36 0.05 229.31);
  --accent-foreground: oklch(0.92 0.00 49.03);
  --destructive: oklch(0.58 0.22 27.33);
  --border: oklch(0.37 0.01 67.56);
  --input: oklch(0.37 0.01 67.56);
  --ring: oklch(0.70 0.19 47.60);
  --chart-1: oklch(0.70 0.19 47.60);
  --chart-2: oklch(0.68 0.15 237.31);
  --chart-3: oklch(0.80 0.16 86.04);
  --chart-4: oklch(0.72 0.01 56.30);
  --chart-5: oklch(0.55 0.01 58.09);
  --sidebar: oklch(0.27 0.01 34.35);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.70 0.19 47.60);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.68 0.15 237.31);
  --sidebar-accent-foreground: oklch(0.28 0.07 254.53);
  --sidebar-border: oklch(0.37 0.01 67.56);
  --sidebar-ring: oklch(0.70 0.19 47.60);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}