:root {
  --background: oklch(0.95 0.02 75.31);
  --foreground: oklch(0.28 0.06 54.65);
  --card: oklch(0.92 0.02 77.44);
  --card-foreground: oklch(0.28 0.06 54.65);
  --popover: oklch(0.92 0.02 77.44);
  --popover-foreground: oklch(0.28 0.06 54.65);
  --primary: oklch(0.71 0.19 48.08);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.89 0.07 83.13);
  --secondary-foreground: oklch(0.28 0.06 54.65);
  --muted: oklch(0.89 0.07 83.13);
  --muted-foreground: oklch(0.56 0.01 62.47);
  --accent: oklch(0.89 0.07 83.13);
  --accent-foreground: oklch(0.28 0.06 54.65);
  --destructive: oklch(0.64 0.21 25.42);
  --border: oklch(0.84 0.11 81.91);
  --input: oklch(0.84 0.11 81.91);
  --ring: oklch(0.71 0.19 48.08);
  --chart-1: oklch(0.71 0.19 48.08);
  --chart-2: oklch(0.89 0.07 83.13);
  --chart-3: oklch(0.95 0.02 75.31);
  --chart-4: oklch(0.28 0.06 54.65);
  --chart-5: oklch(0.56 0.01 62.47);
  --sidebar: oklch(0.95 0.02 75.31);
  --sidebar-foreground: oklch(0.28 0.06 54.65);
  --sidebar-primary: oklch(0.71 0.19 48.08);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.89 0.07 83.13);
  --sidebar-accent-foreground: oklch(0.28 0.06 54.65);
  --sidebar-border: oklch(0.84 0.11 81.91);
  --sidebar-ring: oklch(0.71 0.19 48.08);

  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 1.25rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
}

.dark {
  --background: oklch(0.13 0.03 260.22);
  --foreground: oklch(0.93 0.01 255.51);
  --card: oklch(0.13 0.03 260.22);
  --card-foreground: oklch(0.93 0.01 255.51);
  --popover: oklch(0.13 0.03 260.22);
  --popover-foreground: oklch(0.93 0.01 255.51);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.55 0.02 264.37);
  --secondary: oklch(0.28 0.03 256.85);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.28 0.03 256.85);
  --muted-foreground: oklch(0.71 0.02 262.99);
  --accent: oklch(0.28 0.03 256.85);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.40 0.14 25.81);
  --border: oklch(0.28 0.03 256.85);
  --input: oklch(0.28 0.03 256.85);
  --ring: oklch(0.71 0.02 259.20);
  --chart-1: oklch(0.53 0.19 262.05);
  --chart-2: oklch(0.70 0.13 165.45);
  --chart-3: oklch(0.72 0.15 60.57);
  --chart-4: oklch(0.62 0.20 312.75);
  --chart-5: oklch(0.61 0.21 6.15);
  --sidebar: oklch(0.13 0.03 260.22);
  --sidebar-foreground: oklch(0.93 0.01 255.51);
  --sidebar-primary: oklch(0.98 0 0);
  --sidebar-primary-foreground: oklch(0.55 0.02 264.37);
  --sidebar-accent: oklch(0.28 0.03 256.85);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.28 0.03 256.85);
  --sidebar-ring: oklch(0.71 0.02 259.20);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}