:root {
  --background: oklch(0.98 0.01 325.89);
  --foreground: oklch(0.33 0.12 325.05);
  --card: oklch(0.98 0.01 325.89);
  --card-foreground: oklch(0.33 0.12 325.05);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.33 0.12 325.05);
  --primary: oklch(0.53 0.14 355.21);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.87 0.07 334.93);
  --secondary-foreground: oklch(0.44 0.13 324.81);
  --muted: oklch(0.94 0.03 331.63);
  --muted-foreground: oklch(0.49 0.12 324.47);
  --accent: oklch(0.87 0.07 334.93);
  --accent-foreground: oklch(0.44 0.13 324.81);
  --destructive: oklch(0.52 0.14 20.84);
  --border: oklch(0.86 0.08 328.94);
  --input: oklch(0.85 0.06 336.64);
  --ring: oklch(0.59 0.22 0.59);
  --chart-1: oklch(0.60 0.24 344.48);
  --chart-2: oklch(0.44 0.23 300.63);
  --chart-3: oklch(0.38 0.04 226.14);
  --chart-4: oklch(0.83 0.12 88.34);
  --chart-5: oklch(0.78 0.13 58.99);
  --sidebar: oklch(0.94 0.03 320.65);
  --sidebar-foreground: oklch(0.49 0.19 354.55);
  --sidebar-primary: oklch(0.40 0.03 285.22);
  --sidebar-primary-foreground: oklch(0.97 0.01 337.70);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.40 0.03 285.22);
  --sidebar-border: oklch(0.94 0.00 49.04);
  --sidebar-ring: oklch(0.59 0.22 0.59);

  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.24 0.02 307.56);
  --foreground: oklch(0.84 0.04 309.58);
  --card: oklch(0.28 0.02 307.57);
  --card-foreground: oklch(0.85 0.03 341.53);
  --popover: oklch(0.15 0.01 338.93);
  --popover-foreground: oklch(0.96 0.01 342.04);
  --primary: oklch(0.46 0.19 4.11);
  --primary-foreground: oklch(0.86 0.06 346.40);
  --secondary: oklch(0.31 0.03 310.09);
  --secondary-foreground: oklch(0.85 0.04 308.01);
  --muted: oklch(0.26 0.02 309.50);
  --muted-foreground: oklch(0.79 0.04 307.15);
  --accent: oklch(0.36 0.05 308.51);
  --accent-foreground: oklch(0.96 0.01 342.04);
  --destructive: oklch(0.23 0.05 12.62);
  --border: oklch(0.33 0.02 343.50);
  --input: oklch(0.34 0.02 332.88);
  --ring: oklch(0.59 0.22 0.59);
  --chart-1: oklch(0.53 0.14 355.21);
  --chart-2: oklch(0.56 0.19 306.87);
  --chart-3: oklch(0.72 0.15 60.57);
  --chart-4: oklch(0.62 0.20 312.75);
  --chart-5: oklch(0.61 0.21 6.15);
  --sidebar: oklch(0.19 0.02 331.08);
  --sidebar-foreground: oklch(0.86 0.03 343.73);
  --sidebar-primary: oklch(0.49 0.22 264.38);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.23 0.03 338.22);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.59 0.22 0.59);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}